@model Prueba_Especialista_.NET.ViewModels.VisitsCreateEditViewModel

@{
    ViewData["Title"] = "Crear Visita";
}

<h1>Crear Visita</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Visit.DateVisit"></label>
        <input asp-for="Visit.DateVisit" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label for="ClientId">Cliente</label>
        <select asp-for="Visit.ClientId" asp-items="Model.ClientsSelectList" class="form-control"></select>
    </div>

    <div class="form-group">
        <label for="CommercialId">Comercial</label>
        <select asp-for="Visit.CommercialId" asp-items="Model.CommercialsSelectList" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="Visit.Notes"></label>
        <textarea asp-for="Visit.Notes" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
